.year {
  font-size: 30px;
}

#header {
  display: flex;
  height: 202px;
  align-items: flex-end;
}

.item {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.item.active, item:hover {
  background-color: #460d22;
  opacity: 90%;
}

.item:hover {
  background-color: #460d22;
  opacity: 90%;
  cursor: pointer;
}

.hr1 {
  width: 50%;
  height: 5px;
  &.active {
    background-color: #fe3056;
  }

}

.hr2 {
  width: 50%;
  height: 5px;
  &.active {
    background-image: linear-gradient(to right, #fe3056, #f1006d, #dc0084, #bd009a, #9215ad);
  }
}

#hrs {
  display: flex;
}

#container {
  width: 100%;
  background-image: linear-gradient(to right top, #030011, #07001b, #0a0023, #0a012b, #080134);
}

#vodlist {
  display: flex;
  justify-content: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

mat-card {
  background: #0e0e10;
  width: 90%;
  padding: 15px;
}

mat-card-header {
  color: white;
  display: flex;
  flex-direction: column;
}
mat-card-subtitle {
  color:  #adadb8;
}

mat-card-actions {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vod {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
}

.example-card {
  margin-top: 10px;
}

.songlist {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #18181b, #531fb2) 1;
  margin-top: 5px;
  width: 300px;
}

.res {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res button {
  width: 80%;
  margin-bottom: 5px;
}

button.mdc-button {
  background-color: rgba(83,83,95,.38) !important;
}

button.mdc-button {
  color: white !important;
}

h3, h4 {
  color: white;
  text-align: center;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: blue !important;
}

.example-card {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#autocomplete {
  border: 1px solid silver;
  outline: none;
  margin: 0;
  background: #fff;
  font-size: 17px;
}

.search label{
  font-size: 17px;
}

#autocomplete_result {
  border: 1px solid silver;
  border-top: 0;
  overflow: auto;
  max-height: 150px;
  background: #fff;
}

#autocomplete_resultm {
  border: 1px solid silver;
  border-top: 0;
  overflow: auto;
  max-height: 150px;
  background: #fff;
  width: 200px;
}

#autocompletem, #autocomplete, #autocomplete_result {
  width: 200px;
  box-sizing: border-box;
}

#autocompletem, #autocomplete, #autocomplete_result p {
  padding: 4px;
  margin: 0;
  color: #000;
  font-size: 17px;
}

#autocomplete_resultm, #autocomplete_result p {
  background-color: #424242;
  color: white;
}

#autocomplete_resultm, #autocomplete_result p:hover {
  background: #515151;
}

.item-song {
  background-color: #424242;
  padding: 4px;
  margin: 0;
}

.item-song:hover {
  background: #515151;
}

.form-control {
  background-color: #4a4a4a !important;
  color: white !important;
}

.form-control:hover {
  background-color:  #575757 !important;
}

.form-control:focus {
  background-color:  #707070 !important;
}

.search label {
  color: white;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.accordeon {
  width: 90% !important;
  margin-bottom: 10px;
}

.mat-expansion-panel-content {
  background-color: rgb(29, 29, 30) !important;
}

.mat-expansion-panel {
  background-color: #1f1f23 !important;
}

.mat-expansion-panel {
  margin-bottom: 10px;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: rgba(255, 255, 255, 0.7) !important;
}
