/* You can add global styles to this file, and also import other style files */

html, body { width: 504px; border : 1px solid black; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/img/bg.jpeg"); background-repeat: no-repeat;
}

:host ::ng-deep .mat-expansion-indicator::after {
color: #959090 !important;
}
