.container-card {
  width: 300px;
  height: 350px;
  position: absolute;
  top:-400% !important;
  left: 76% !important;
  border-radius: 0.6rem !important;
  background-color: #1f1f23 !important;
  box-shadow: 0 6px 16px rgba(0,0,0,5),0 0px 4px rgba(0,0,0,4); !important;
  color: inherit !important;
  overflow-y: scroll;
}

.close {
  position: relative !important;
  width: 100% !important;
}

.fermer {

  display: block;
  width: 100%;
  color: inherit;
  padding: 10px !important;
}

.close-label {
  cursor: pointer;
  padding: 5px;
}

.songlist {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #18181b, #531fb2) 1;
  margin-top: 8px;
}

.hide {
  display: none;
}

@media screen and (max-width: 1110px) {
  .container-card {
    top: -350% !important;
  }
}

@media screen and (max-width: 1900px) {
  .container-card {
    left: 65% !important;
  }
}
 .container-card p, .container-card b, .container-card span {
   color: white !important;
 }
.container-card a {
   color: #bf94ff !important;
 }
.close-label {
  color: white;
}


.buttonitem {
  position: relative !important;
  width: 100% !important;
}

.cbutton {
  border-radius: 0.4rem;
  display: block;
  width: 100%;
  color: inherit;
}

.ibutton {
  display: flex !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  position: relative !important;
  padding: 0.5rem !important;
}

.jbutton {
  display: flex !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  padding-right: 0.5rem !important;
  flex-shrink: 0 !important;
}

.bbutton {
  display: flex !important;
  -webkit-box-align: center !important;
  align-items: center !important;
}

.jabutton {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.hbutton {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.kbutton {
  padding-bottom: 100%;
}

.hbutton > :not(.ScAspectSpacer-sc-18km980-0) {
  position: absolute;
  left: 0px;
  width: 100%;
  min-height: 100%;
  top: 0px;
}
